<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    
    <style>
        *{
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <input id="name" value="ly" /><br/><br/>
    <input id="send-btn" type="button" value="send"></input>
    <p id="output"></p>
    <script  type="text/javascript">
        $('#send-btn').bind('click', (e)=>{
            let name = $('#name').val()
            console.log('name',name);
            let authorization = $.cookie("Authorization") || ''
            $.ajax({
                url:`http://localhost:30000/user/home?name=${name}`,
                method:'get',
                headers:{
                    'Authorization':authorization
                },
                success(res){
                    console.log('res',res)
                    $("#output").text( JSON.stringify( res ) )
                },
                fail(err){
                    $("#output").text(err )
                }
            })
            
        })
    </script>
</body>
</html>